<h1>About Points</h1>

<p>
  In order to reduce the cost of dues for players,
  each active player is expected to volunteer time
  in the service of the organization. The points
  system is a measure of that involvement.
</p>
<p>
  Points can be earned through fundraising,
  recruiting, and administrative opportunities.
  Points can also be purchased from the team at
  a rate set by the Treasurer each season.
</p>
<h2>Policies</h2>
<p>
  Each dues-paying player is responsible for a
  set number of "base points" per season. Additional
  "travel points" are also required for those players
  traveling with the team and staying in team hotels
  and car rentals. Points might also be exchanged to
  help cover the costs of plane tickets, at the board's discretion.
</p>
<p>
  Rookies are only responsible for half of owed points
  (base and travel) in their first season.
</p>
<p>
  Points never expire. Points in excess of the season requirement
  carry over to the next season.<br/>
  *TO BE REVIEWED: Points may soon start to expire after a set
  number of seasons.
</p>
<p>
  Delinquent points from a given season may be made up the following
  season with the approval of the Points Chair and the Board.
  Delinquent points from more than one season ago must be purchased
  at the rate from the season they were first owed
</p>
<h2>Ways to Earn Points and their Point Values</h2>
<h3>Fundraising Opportunities</h3>
<uol>
  <li>LINC/PPL event volunteer, 1 pts/hour</li>
  <li>LINC/PPL stand leader, 1 pts/event</li>
  <li>PPL carpool driver, 1 pts/event</li>
  <li>Team Fundraiser event volunteer, 0.5 pts/hour</li>
  <li>Guests at a Team Fundraiser, 0.5 pts/guest</li>
  <li>Obtaining a donation/sponsorship, board discretion, approx 1 pts/$50</li>
</uol>
<h3>Recruiting Opportunities</h3>
<uol>
  <li>Team Recruiting event volunteer, 0.5 pts/hour</li>
</uol>
<h3>Administrative Opportunities</h3>
<uol>
  <li><b>Board Members</b></li>
  <li>Captain, 3 pts/season</li>
  <li>President, 3 pts/season</li>
  <li>Vice President, 3 pts/season</li>
  <li>Secretary, 3 pts/season</li>
  <li>Treasurer, 3 pts/season</li>
  <li>Captain, 3 pts/season</li>
  <li><b>Chairs</b></li>
  <li>Match Secretary, 3 pts/season</li>
  <li>Recruiting, 3 pts/season</li>
  <li>Fundraising, 3 pts/season</li>
  <li>Sponsorship, 3 pts/season</li>
  <li>Public Relations, 3 pts/season</li>
  <li>Webmaster, 3 pts/season</li>
  <li>Points, 3 pts/season</li>
  <li>Alternate Captain, 2 pts/season</li>
  <li>Social, 2 pts/season</li>
  <li>LINC Coordinator, 3 pts/Fall</li>
  <li>PPL Coordinator, 3 pts/Spring</li>
  <li>Rent A Rugger Coordinator, 3 pts/season</li>
  <li>Pumpkinfest, 4 pts</li>
  <li>Friends and Family, 3 pts</li>
  <li>College Clinic, 3 pts</li>
  <li><b>Committee Member</b>, 2 pts/season</li>
</uol>
