<% provide(:title, "Help") %>

<h1>Help</h1>

<%= link_to "Home", "/static_pages/home", :class => "button" %> |
<%= link_to "About", "/static_pages/about", :class => "button" %>

<p>
  This is the help page for the Points Portal.
  </br>
  **UNDER CONSTRUCTION**
</p>
