<% provide(:title, "Home") %>
<h1>Points Portal Home</h1>

<%= link_to "About", "/static_pages/about", :class => "button" %> |
<%= link_to "Help", "/static_pages/help", :class => "button" %>

<p>**UNDER CONSTRUCTION**</p>
<p>for Philadelphia Women's Rugby Football Club</p>
